.row .col-1{
    width: 50%;
    display: inline-block;
}
.row .col-1 img{
    width: 50%;
}

.row .col-2{
    width: 50%;
    float: right;
}
.row .col-2 li{
    display: inline-block;
    padding: 10px;
    
    
}